/*
/*/

!/.idea/
.idea/workspace.xml
.idea/csv-plugin.xml
.idea/shelf/

!/app/
!/cicd/
!/cmake/
!/example/
!/include/
!/note/
!/res/
!/sandbox/
!/src/
!/test/

!/.clang-format
!/.editorconfig
!/.gitignore
!/BUILDING.md
!/CMakeLists.txt
!/CMakePresets.json
!/LICENSE
!/README.md

# Temp ignore of the quick save file
app/space/universe.sav
