/*
/*/

!/.idea/
.idea/workspace.xml
.idea/csv-plugin.xml
.idea/shelf/

!/app/
!/cmake/
!/example/
!/include/
!/note/
!/res/
!/sandbox/
!/src/
!/test/

!/.editorconfig
!/.gitignore
!/CMakeLists.txt
!/README.md
!/LICENSE


# Temp ignore of the quick save file
app/space/universe.sav

